obj/Debug/netcoreapp2.1/curso-dotnet.assets.cache
obj/Debug/netcoreapp2.1/curso-dotnet.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/curso-dotnet.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/curso-dotnet.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/project.razor.json
